* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/* Core Styles */

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #000;
  color: #fff;
  font-size: 1.1em;
  line-height: 1.5;
  text-align: center;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 1em 0;
  font-family: "Merriweather", serif;
}

p {
  margin: 0;
  padding: 1em 0;
}

#menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  text-transform: uppercase;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0 20px;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: #ac713b;
  text-shadow: 1px 1px 1px #fff;
}

.content-wrap h1 {
  font-size: 2.5em;
  text-transform: uppercase;
}

.content-wrap p {
  font-size: 1.3em;
}

.tagline {
  text-shadow: 0px 0px 3px yellow;
}

.btn {
  display: inline-block;
  margin: 0.5em 0;
  background: #ddd;
  padding: 0.25em 0.5em;
  display: inline-block;
  /* margin: 10px; */
  text-decoration: none;
  color: #000;
  border: 2px solid #ac713b;
  border-radius: 5px;
  transition: 0.5s;
}

.btn:hover {
  background-color: #ac713b;
  color: #fff;
}

/* MENU */

/* Header Showcase */

#showcase {
  min-height: 450px;
  color: #fff;
  text-align: center;
}

#showcase .bg-image {
  position: absolute;
  background: #333 url("../img/books.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 450px;
  z-index: -1;
  /* opacity: 0.4; */
}

#showcase h1 {
  padding-top: 100px;
  padding-bottom: 0;
}

#showcase .content-wrap,
#section-a .content-wrap {
  padding: 0 1.5em;
}

/* Section A */

#section-a {
  background: #eaeaea;
  color: #333;
  padding-bottom: 2em;
}

/* Section B */

#section-b {
  padding: 2em 1em 1em;
}

#section-b ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#section-b li {
  margin-bottom: 1em;
  background: #eaeaea;
  color: #333;
}

.card-content {
  padding: 1.5em;
}

/* Section C */

#section-c {
  background: #eaeaea;
  color: #333;
  padding: 2em;
}

/* Section D / Boxes */

#section-d .box {
  padding: 2em;
  color: #fff;
}

#section-d .box:first-child {
  background: #ac713b;
}

/* Footer */

#main-footer {
  padding: 2em;
  background: #000;
  color: #fff;
  text-align: center;
}

#main-footer a {
  color: #ac713b;
  text-decoration: none;
}

/* Media Queries */

@media (min-width: 700px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
  }

  #section-a .content-text {
    columns: 2;
    column-gap: 2em;
  }

  #section-a .content-text p {
    padding-top: 0;
  }

  .content-wrap,
  #section-b ul {
    grid-column: 2/4;
  }

  .box,
  #main-footer div {
    grid-column: span 2;
  }

  #section-b ul {
    display: flex;
    justify-content: space-around;
  }

  #section-b li {
    width: 31%;
  }
}
